<%= form_for (@message), :url => { :action => "update" } do |f| %>

<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-9 columns">
        <f.label>Edit your post</label>
          <div class="field">
            <%= f.text_field :post %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="small-9 columns">
        <%= f.submit 'Post your thoughts', class: 'btn-style' %>
  <% end %>

<%= button_to 'Delete post', conversation_message_path(@message.conversation, @message), class: 'btn-style', method: 'delete', data: { confirm: 'Are you sure?' } %>
</div>
</div>
</div>
