<h1><%= @conversation.title %></h1>

<% unless @messages.empty? %>
  <% @messages.each do |message| %>
    <h3><%= message.post %></h3>
    <h4><%= message.user.user_name %></h4>
  <% end %>
<% end %>

<%= link_to "Add a post", new_conversation_message_path(params[:id]) %>
