<div class="row">
  <div class="small-6 columns">
    <h1>Hashed Posts</h1>
  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <h3><%= @hashtag.hashtag_keyword %></h3>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <% @hashtag.messages.each do |m| %>
    <ul>
    <li class="hashtag"><%= m.post %></li>
  </ul>
    <% end %>
  </div>
</div>
